h1 {
  /* font-family: 'VT323', monospace; */
  font-family: 'Press Start 2P', cursive;
  color: #39D202;
}

.about-page-div {
  height: 70%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  color: #39D202;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-page-div p{
  color: white;
  line-height: 1.5;
}

#horizon_bg {
  height: 50%;
  width: 70%;
}

.introduction-div {
  /* background-color: black; */
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* flex-direction: column; */
  text-align:justify;
  width: 70vw;
  height: 100vh;
  border: 2px solid #39D202;
  padding: 2%;
  float: left;
  background-color: black;
}

#welcome-message-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  color: #39D202;
}

#welcome-message-name2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #07FAFA;
}

#loading-message {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

#portrait-img {
  width: auto;
  height: 50%;
  border: 2px solid #39D202;
  margin-right: 2%;
  background-color: white;
}

.main-page-loading {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}
