h1 {
  /* font-family: 'VT323', monospace; */
  font-family: "Press Start 2P", cursive;
  color: #39d202;
}

.about-page-div {
  height: 60vh;
  width: 100%;
  font-family: "Press Start 2P", cursive;
  color: #39d202;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-page-div p {
  color: white;
  line-height: 1.5;
}

#horizon_bg {
  height: 50%;
  width: 90%;
}

.introduction-div {
  /* background-color: black; */
  display: flex;
  /* justify-content: space-around;
  align-items: center;
  flex-direction: column; */
  text-align: center;
  flex-direction: row;
  align-items: left;
  width: 90%;
  height: 100%;
  border: 2px solid #39d202;
  padding: 2%;
  float: left;
  background-color: black;
  overflow: scroll;
}

/* #welcome-message-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  color: #39D202;
}

#welcome-message-name2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #07FAFA;
} */

#loading-message {
  font-family: "Press Start 2P", cursive;
  color: white;
}

#portrait-img {
  width: 20%;
  height: auto;
  border: 2px solid #39d202;
  margin-right: 2%;
  background-color: white;
}

.main-page-loading {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 7px;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #39d202;
} */

::-webkit-scrollbar-thumb {
  background-color: #07fafa;
  outline: 1px solid #07fafa;
}

@media only screen and (max-width: 600px) {
  .introduction-div {
    /* background-color: black; */
    display: flex;
    /* justify-content: space-around;
    align-items: center;
    flex-direction: column; */
    text-align: left;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    border: 2px solid #39d202;
    padding: 2%;
    float: left;
    background-color: black;
    overflow: scroll;
  }

  .about-page-div {
    height: 80vh;
    width: 100%;
    font-family: "Press Start 2P", cursive;
    color: #39d202;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #portrait-img {
    width: 70%;
    height: auto;
    border: 2px solid #39d202;
    margin-right: 2%;
    background-color: white;
  }
}
